*.DS_Store
*.egg-info
*.log
*.lprof
*.py[cod]
*.swp
*.conf
.coverage
.svn
.tox
.idea
# 忽略根目录以及其他子目录下的output文件/目录
output
# 忽略根目录以及其他子目录下的data文件/目录
data
# 忽略根目录下的test目录
/test/
# 忽略根目录下的bak.conf文件/目录
/bak.conf